body
{
    font-family: arial;
}

/* Sets the background image for the wheel */

td.the_wheel{
    background-image: url(../media/background.png);
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.boton{
    background-color: #ec0000;
    color: white;
    width: 100px;
    height: 35px;
    border: 1px solid #ec0000;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* .boton:hover{
    back
} */
